# hidden files
.*
!.cargo
!.github
!.vscode

# rust builds / cache
target

# dist folder
/dist

# build folders
/packaging/vendor/*/*/package
/packaging/vendor/*/*/*.ipk

# vendored files
/vendor

# Generated Bitbake recipes
*.bb
